.form-inline{
    width: 100%;
}

.form-group {
    width: 90%;
}

.form-control {
    width: 80% !important;
}

.center {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}